<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/s">
        <h1 class="lab">Create Listing</h1>
       
         <div class="container">
           <label for="Name"><b>Name</b></label>
           <input type="text" placeholder="Enter Name" name="name">
           <br>
           <label for="Mobile"><b>Mobile no</b></label>
           <input type="text" placeholder="+91" name="number">
           <br>
           <label for="email"><b>Email</b></label>
           <input type="email" placeholder="Enter Email" name="email">
           <br>
           <label for="City">City Name</label>
           <input type="text" placeholder="City" name="city">
           <label for="DOB">Kids Date of birth</label>
           <input type="date" placeholder="dd-mm-yy"name="date">
           <br>
           <button type="submit" class="btn"><strong>List</strong></button>
           <label>
         </div>
       
        
       </form> 
         
</body>
</html>